<.welcome_user current_user={@current_user} />

<h1>Welcome to the Application Portal!</h1>

<p>Choose how you'd like to explore the app:</p>
<div>
  <a href="/mvc/contacts">
    <button>MVC Version</button>
  </a>

  <a href="/live/contacts">
    <button>LiveView Version</button>
  </a>
</div>
